<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=1024, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<title>Makako - Gestión para Farmacia</title>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/static/css/reset.css" />
	<link rel="stylesheet" href="/static/css/icons.css" />
	<link rel="stylesheet" href="/static/css/formalize.css" />
	<link rel="stylesheet" href="/static/css/checkboxes.css" />
	<link rel="stylesheet" href="/static/css/sourcerer.css" />
	<link rel="stylesheet" href="/static/css/jqueryui.css" />
	<link rel="stylesheet" href="/static/css/tipsy.css" />
	<link rel="stylesheet" href="/static/css/calendar.css" />
	<link rel="stylesheet" href="/static/css/tags.css" />
	<link rel="stylesheet" href="/static/css/fonts.css" />
	<link rel="stylesheet" href="/static/css/selectboxes.css" />
	<link rel="stylesheet" href="/static/css/960.css" />
	<link rel="stylesheet" href="/static/css/main.css" />
	<link rel="stylesheet" media="all and (orientation:portrait)" href="/static/css/portrait.css" />
	<link rel="stylesheet" href="/static/css/humane.original.css" />
	<link rel="stylesheet" href="/static/css/custom.css" />
	<link rel="apple-touch-icon" href="./apple-touch-icon-precomposed.png" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

	<!--[if lt IE 9]>
	<script src="/static/js/html5shiv.js"></script>
	<script src="/static/js/excanvas.js"></script>
	<![endif]-->

	<!-- JavaScript -->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/jqueryui.min.js"></script>
	<script src="/static/js/jquery.cookies.js"></script>
	<script src="/static/js/jquery.pjax.js"></script>
	<script src="/static/js/formalize.min.js"></script>
	<script src="/static/js/jquery.metadata.js"></script>
	<script src="/static/js/jquery.validate.js"></script>
	<script src="/static/js/jquery.checkboxes.js"></script>
	<script src="/static/js/jquery.chosen.js"></script>
	<script src="/static/js/jquery.fileinput.js"></script>
	<script src="/static/js/jquery.datatables.js"></script>
	<script src="/static/js/jquery.sourcerer.js"></script>
	<script src="/static/js/jquery.tipsy.js"></script>
	<script src="/static/js/jquery.calendar.js"></script>
	<script src="/static/js/jquery.inputtags.min.js"></script>
	<script src="/static/js/jquery.wymeditor.js"></script>
	<script src="/static/js/jquery.livequery.js"></script>
	<script src="/static/js/jquery.flot.min.js"></script>
	<script src="/static/js/taffy-min.js"></script>
	<script src="/static/js/humane.js"></script>
	<script src="/static/js/application.js"></script>
	<script>
		var self = {
			'local' : {{ aplicacion.local.id|default:'"none"' }}
		}
	</script>
	{% block script %}
	{% endblock %}
</head>
<body>
	<nav id="primary">
		<ul>
			<li>
				<a href="/">
				<span class="glyph home"></span>
					Inicio
				</a>
			</li>
			{% for ii in items %}
			{% for i in ii %}
			<li>
				<a href="{{ i.link }}" class="{{ i.attr_class }}" title="{{ i.titulo }}">
				<span class="glyph {{ i.icono }}"></span>
				</a>
			</li>
			{% endfor %}
			{% endfor %}
			{% block LinkPrimary %}{% endblock %}
			<li class="bottom">
				<a href="/salir/">
				<span class="glyph quit"></span>Salir</a>
			</li>
		</ul>
	</nav>
	{% block secundary %}
	<nav id="secondary">
		<ul>
			{% block AddLink %}{% endblock %}
			{% for m in menu.Admin %}
				{% for mm in m %}
						<li class="{% ifequal mm.link Url %}green{% endifequal %}"><a href="{{ mm.link }} ">{{ mm.titulo }}</a></li>
				{% endfor %}
			{% endfor %}
			{% for m in menu.AdminVenta %}
				{% for mm in m %}
						<li class="{% ifequal mm.link Url %}blue active{% endifequal %}"><a href="/local/{{ aplicacion.local.id }}/{{ mm.link }} ">{{ mm.titulo }}</a></li>
				{% endfor %}
			{% endfor %}
			{% for m in menu.Venta %}
				{% for mm in m %}
						<li class="{% ifequal mm.link Url %}blue active{% endifequal %}"><a href="/local/{{ aplicacion.local.id }}/{{ mm.link }} ">{{ mm.titulo }}</a></li>
				{% endfor %}
			{% endfor %}
			
		</ul>
		<div id="notifications">
			<ul>
			</ul>
		</div>
	</nav>
	{% endblock %}
	<section id="maincontainer">
	{% if messages %}
		<div style="margin:10px 10px 0px 20px;">
		{% for message in messages %}
			{% if message.tags == "error" %}
				<a class="button">
				<span style="color:#AD6262;" class="{{ message.tags }} glyph alert"></span>{{ message }}</li>
				</a>	
			{% endif %}
			{% if message.tags == "success" %}
				<a class="button">
				<span style="color:#94DA3A;" class="{{ message.tags }} glyph tick"></span>{{ message }}</li>
				</a>
			{% endif %}
			{% if message.tags == "info" %}
				<a class="button">
				<span style="color:#3079ED;" class="{{ message.tags }} glyph info"></span>{{ message }}</li>
				</a>
			{% endif %}
		{% endfor %}
		</div>
	{% endif %}		
	{% block container %}
	{% endblock %}
	</section>
</body>
</html>
