{% extends 'base.html' %}
{% comment %}
prefijo: mko
{% endcomment %}
{% block script %}
{% endblock %}
{% block container %}
<div id="main" class="container_12">
	<div class="box grid_5">
		<div class="box-header">
			<h1>{{ titulo }}</h1>
		</div>
		<div class="box-content">
		<form action="{{ action }}{{ codigo }}" method="post">{% csrf_token %}
			{{ form.as_p }}
			<div class="action_bar">
				<input type="submit" class="button blue" value="Registrar" />
				<a href="#modal" class="modal button">Cancel</a>
			</div>
		</form>
		</div>
	</div>
	<div class="box grid_6">
		<div class="box-header">
			<h1>{{ titulo_segundo }}</h1>
		</div>
		<table>
			{% for objeto in objetos %}
			<tr>
				<td>{{ objeto }}</td>
				<td><a class="button plain" href="{{ action }}{{ objeto.id }}/"><span class="glyph pencil"></span></a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
