{% extends 'base.html' %}
{% block script %}
{% endblock %}
{% block container %}
<div id="main" class="container_12">
	<div class="grid_6">
		ss
	</div>
	<div class="grid_5">
		ss
	</div>
</div>
{% endblock %}
