{% extends 'base.html' %}
{% comment %}
prefijo: mko
{% endcomment %}
{% block script %}
{% endblock %}
{% block container %}
<div id="main" class="container_12">
	<div class="grid_11 grid_show grid_mp">
		<div class="quick-actions">
			<span class="step">PASO
				<span class="number">1</span>
			</span>
			<a href="/administrator/farmacia/compuesto/">
				<span class="glyph pie"></span>
				Compuestos
			</a>
			<a href="/administrator/farmacia/laboratorio/">
				<span class="glyph suitcase"></span>
				Laboratorios
			</a>
			<a href="/administrator/farmacia/accion-farmacologica/">
				<span class="glyph listicon"></span>
				Malestares
			</a>
			<a href="/administrator/farmacia/presentacion/">
				<span class="glyph dropbox"></span>
				Presentaciones
			</a>
		</div>
	</div>
	<div class="grid_11 grid_show grid_mp">
		<div class="quick-actions">
			<span class="step">PASO
				<span class="number">2</span>
			</span>			
			<a href="/administrator/farmacia/producto/">
				<span class="glyph tags"></span>
				Productos
			</a>
		</div>
	</div>
	<div class="grid_11 grid_show grid_mp">
		<div class="quick-actions">
			<span class="step">PASO
				<span class="number">3</span>
			</span>					
			<a href="/administrator/farmacia/lote/">
				<span class="glyph truck"></span>
				Lotes
			</a>
			<a href="/administrator/farmacia/stock/">
				<span class="glyph cart"></span>
				Stock General
			</a>
			<a href="/administrator/farmacia/stock-granel/">
				<span class="glyph cart"></span>
				Stock General Granel
			</a>
		</div>
	</div>
	<div class="grid_11 grid_show grid_mp">
		<div class="quick-actions">
			<span class="step">PASO
				<span class="number">4</span>
			</span>
			<a href="/administrator/farmacia/accion-farmacologica/">
				<span class="glyph download"></span>
				Asignación de Stock
			</a>
			<a href="/administrator/farmacia/usuario/">
				<span class="glyph download"></span>
				Asignación de Granel
			</a>
		</div>
	</div>
	<div class="grid_11 grid_show grid_mp">
		<div class="quick-actions">
			<span class="step">PASO
				<span class="number">6</span>
			</span>
			<a href="/administrator/farmacia/accion-farmacologica/">
				<span class="glyph cog"></span>
				Configuración
			</a>
			<a href="/administrator/farmacia/usuario/">
				<span class="glyph user"></span>
				Usuarios
			</a>			
			<a href="/salir/">
				<span class="glyph switch"></span>
				Salir
			</a>
		</div>
	</div>	

	<div class="box column-left">
		<div class="box-header">
			<span class="glyph chart"></span><h1>Estadisticas</h1>
		</div>
		<ul class="statistics">
			{% for object in top %}
			<li>
				<a href="#">
					<span>{{ object.monto }}</span>
					{% for detalle in object.r_detalle %}
						{% if not forloop.first %}
						,
						{% endif %}
						{{ detalle }}
					{% endfor %}
				</a>
			</li>
			{% endfor %}
		</ul>
		<div class="action_bar">
			<a href="#" class="button plain plain-blue"><span class="glyph export"></span>Export data</a>
			<a href="#" class="button plain plain-red"><span class="glyph print"></span>Print statistics</a>
		</div>
	</div>
	<div class="box column-right">
		<div class="box-header">
			<h1>Current Hosting Plan</h1>
		</div>
		<table>
			<tbody>
				<tr>
					<td>Webhosting:</td>
					<td><strong>VPS Server 1</strong></td>
				</tr>
				<tr>
					<td>Available space:</td>
					<td>239/1000 GB used</td>
				</tr>
				<tr>
					<td>MySQL databases:</td>
					<td class="red">5/5 used</td>
				</tr>
				<tr>
					<td>Email accounts:</td>
					<td class="red">25/25 used</td>
				</tr>
				<tr>
					<td>Ruby version:</td>
					<td>1.9.3</td>
				</tr>
				<tr>
					<td>Rails version:</td>
					<td>3.0.1</td>
				</tr>
			</tbody>
		</table>
		<div class="action_bar">
			<a href="#" class="button blue"><span class="glyph plus2"></span>Upgrade plan</a>
			<a href="#">Cancel subscription</a>
		</div>
	</div>
</div>
{% endblock %}
