{% extends 'base.html' %}
{% comment %}
prefijo: mko
{% endcomment %}
{% block script %}
	<script src="/static/js/app.productos.addout.js"></script>
{% endblock %}
{% block secundary %}
{% endblock %}
{% block container %}
	<div id="main" class="container_12">
		<div id="mko_form-venta" class="box">
			<div id="mko_product-pay">
				<table id="mko_tbl-products" class="list-small">
					<thead>
						<tr>
						<th style='display:none;'>Id</th>
						<th>Tipo</th>
						<th>Cant.</th>
						<th>Producto</th>
						<th>Precio</th>
						<th>Quitar</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
			<form id="mko_form-coin" class="whitout-validate F-Ajax" action="/vender/" method="POST"  style="border-top:1px solid #ccc; padding:3px 0px;">{% csrf_token %}
				<div id="total-venta">
					<span>Total: <span id="mko_price-total">0</span></span>
				</div>
				<div style="width:36%; display:inline-block;">
					<p>
						<label class="small-text">Cliente</label>
						<input id="id_cliente" class="small-text" type="text" name="cliente">
					</p>
				</div>				
				<div style="width:36%; display:inline-block;">
					<p>
						<label class="small-text">Ruc</label>
						<input id="id_ruc" type="text" name="ruc" class="{validate:{required:true, minlength:8, number:true}} small-text">
					</p>
				</div>
				<div style="width:16%; display:inline-block;">
					<input type="submit" id="send-topay" class="button plain plain-blue" value="Vender" />
					<input type="submit" class="button plain plain-red" value="Cancelar" />
				</div>
			</form>
		</div>		
		<div id="find-products"></div>
		<div class="box">
			<table id="xData" class="list-small">
				<thead>
					<tr>
						<th>Id</th>
						<th>Presentación</th>
						<th>Lote / Stock</th>
						<th>Producto / Comercial</th>
						<th>Precio</th>
						<th>Add</th>
					</tr>
				</thead>
				<tbody>
					{% for producto in productos %}
					<tr>
					<td style="display:none;" class="mko_pro-id">{{ producto.id }}</td>
					<td style="display:none;" class="mko_pro-pre">{{ producto.presentacion }}</td>
					<td class="mko_pro-sto">{{ producto.lote_nombre }} - {% firstof producto.stock_cantidad producto.stock_granel_cantidad %} {{ producto.presentacion }}s</td>
					<td class="mko_pro-pri">{{ producto.precio|floatformat:2 }}</td>
					<td class="mko_pro-nom">{{ producto.nombre }}</td>
					<td class="mko_pro-com">{{ producto.nombrec }}</td>
					<td class="mko_pro-sin">{% for malestar in producto.r_malestares %}{% if not forloop.first %}, {% endif %}{{ malestar }}{% endfor %}
						<div class="more-info">{% for malestar in producto.malestares.all %}{% if not forloop.first %}, {% endif %}{{ malestar }}{% endfor %}</div>
					</td>
					<td>
						<a href="#" class="button plain mko_add-product super-small"><span class="glyph plus2"></span></a>
					</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

