<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="viewport" content="width=1024, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Makako - Gestión de Farmacias</title>
		<link rel="stylesheet" href="/static/css/reset.css" />
		<link rel="stylesheet" href="/static/css/icons.css" />
		<link rel="stylesheet" href="/static/css/formalize.css" />
		<link rel="stylesheet" href="/static/css/checkboxes.css" />
		<link rel="stylesheet" href="/static/css/sourcerer.css" />
		<link rel="stylesheet" href="/static/css/jqueryui.css" />
		<link rel="stylesheet" href="/static/css/tipsy.css" />
		<link rel="stylesheet" href="/static/css/calendar.css" />
		<link rel="stylesheet" href="/static/css/tags.css" />
		<link rel="stylesheet" href="/static/css/visualize.css" />
		<link rel="stylesheet" href="/static/css/fonts.css" />
		<link rel="stylesheet" href="/static/css/selectboxes.css" />
		<link rel="stylesheet" href="/static/css/960.css" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<link rel="stylesheet" media="all and (orientation:portrait)" href="/css/portrait.css" />
		<link rel="stylesheet" href="/static/css/custom.css" />
		<link rel="apple-touch-icon" href="./apple-touch-icon-precomposed.png" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<!--[if lt IE 9]>
		<script src="/js/html5shiv.js"></script>
		<script src="/js/excanvas.js"></script>
		<![endif]-->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jqueryui.min.js"></script>
		<script src="/static/js/jquery.chosen.js"></script>
	</head>
	<body id="login">
		<div id="login_container">
			<h1 class="title">Makako - Gestión para Farmacias</h1>
			<div id="login_form">
				<form id="form-login" method="POST" action="/administrator/login/">{% csrf_token %}
					{{ formlogin.as_p }}
					<button id="sendform" type="submit" class="button blue" value="Ingresar">
						<span class="glyph key"></span>Ingresar
					</button>
					<a style="display:none;" id='to-front' href='#' class='button blue'>Ir</a>
				</form>
			</div>
		</div>
	</body>
</html>
