{% extends 'base.html' %}
{% comment %}
prefijo: mko
{% endcomment %}
{% block script %}
	<script src="/static/js/app.rform.js"></script>
{% endblock %}
{% block container %}
<div id="main" class="container_12">
	<div class="box grid_5">
		<div class="box-header">
			<h1>{{ titulo }}</h1>
		</div>
		<div class="box-content">
		<form action="{{ action }}{{ codigo }}" method="post">{% csrf_token %}
			{{ form.as_p }}
			<div class="action_bar">
				<input type="submit" class="button blue" value="Registrar" />
				<a href="{{ action }}" class="button red">Cancel</a>
			</div>
		</form>
		</div>
	</div>
	<div class="box grid_6">
		<div class="box-header">
			<h1>{{ titulo_segundo }}</h1>
		</div>
		<table class="datatable">
			<thead>
				<tr>
					<th>Descripción</th>
					<th>Acción</th>
				</tr>
			</thead>
			<tbody>
				{% for objeto in objetos %}
				<tr>
					<td>{{ objeto }}</td>
					<td><a class="button plain plain-blue" href="{{ action }}{{ objeto.id }}/"><span class="glyph pencil"></span></a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
