{% extends 'base.html' %}
{% comment %}
prefijo: mko
{% endcomment %}
{% block script %}
	<script src="/static/js/app.stock.stockunidadtemp.js"></script>
	<script>
		self['max-value'] = {{ Add.stock.cantidad }};
	</script>
{% endblock %}
{% block AddLink %}
<li class="active"><a>De stock a Granel</a></li>
{% endblock %}
{% block container %}
<div id="main" class="container_12">
	<div class="box grid_4">
		<div class="box-header">
			<h1>{{ Add.titulo }}</h1>
		</div>
		<div class="box-content">
			<table class="only-info">
				<tr>
					<td><span class="glyph dropbox"></span> {{ Add.stock }}</td>
				</tr>
				<tr>
					<td><span class="glyph pie"></span> {{ Add.stock.get_total }} {{ Add.stock.producto.r_presentacion_c }}s</td>
				</tr>
				<tr>
					<td><span class="glyph restart"></span> {{ Add.stock.cantidad_cu }}  {{ Add.stock.producto.r_presentacion_u }}s por  {{ Add.stock.producto.r_presentacion_c }}</td>
				</tr>
			</table>
			<form action="{{ Add.action }}" method="post">{% csrf_token %}
				{{ Add.form.as_p }}
				<div class="action_bar">
					<input type="submit" class="button blue" value="Registrar" />
					<a href="{{ Add.action }}" class="button red">Cancel</a>
					<a href="/administrator/farmacia/stock/" class="button blue">Regresar</a>
				</div>
			</form>
		</div>
	</div>
	<div class="box grid_7">
		<div class="box-header">
			<h1>{{ Add.titulo_segundo }} - {{ Add.stock.producto }}</h1>
		</div>
		<table class="datatable">
			<thead>
				<tr>
					<th>Lote - FechaVen. - Producto - Cantidad / Precio</th>
					<th>Acción</th>
				</tr>
			</thead>
			<tbody>
				{% for objeto in Add.objetos %}
				<tr>
					<td>{{ objeto.stock.lote }} - {{ objeto.cantidad }}/ Precio: {{ objeto.precio }}</td>
					<td>
						<a class="button plain plain-blue" href="{{ objeto.id }}/asignacion/"><span class="glyph export"></span></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
