{% extends 'base.html' %}
{% comment %}
prefijo: mko
{% endcomment %}
{% block script %}
	<script src="/static/js/app.stock.js"></script>
{% endblock %}
{% block container %}
<div id="main" class="container_12">
	<div class="box grid_4">
		<div class="box-header">
			<h1>{{ titulo }}</h1>
		</div>
		<div class="box-content">
		<form action="{{ action }}{{ codigo }}" method="post">{% csrf_token %}
			{{ form.as_p }}
			<div class="action_bar">
				<input type="submit" class="button blue" value="Registrar" />
				<a href="{{ action }}" class="button red">Cancel</a>
			</div>
		</form>
		</div>
	</div>
	<div class="box grid_7">
		<div class="box-header">
			<h1>{{ titulo_segundo }}</h1>
		</div>
		<table class="datatable">
			<thead>
				<tr>
					<th>Descripción</th>
					<th>Acción</th>
				</tr>
			</thead>
			<tbody>
				{% for objeto in objetos %}
				<tr>
					<td>{{ objeto.lote.nombre }} -  {{ objeto.producto }} / {{ objeto.get_total }} {{ objeto.producto.r_presentacion_c }}s</td>
					<td>
						<a class="button plain plain-blue" href="{{ action }}{{ objeto.id }}/"><span class="glyph pencil"></span></a>
						<a class="button plain plain-red" href="{{ action }}{{ objeto.id }}/granel/" title="Abrir caja"><span class="glyph fullscreen"></span></a>
						<a class="button plain green" href="{{ action }}{{ objeto.id }}/asignacion/"><span class="glyph export"></span></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
