{% extends 'base.html' %}
{% comment %}
prefijo: mko
{% endcomment %}
{% block script %}
	<script src="/static/js/app.stock-granel.js"></script>
{% endblock %}
{% block container %}
	{% if messages %}
		<div style="margin:10px 10px 0px 20px;">
		{% for message in messages %}
			{% if message.tags == "error" %}
				<a class="button">
				<span style="color:#AD6262;" class="{{ message.tags }} glyph alert"></span>{{ message }}</li>
				</a>	
			{% endif %}
			{% if message.tags == "success" %}
				<a class="button">
				<span style="color:#94DA3A;" class="{{ message.tags }} glyph tick"></span>{{ message }}</li>
				</a>
			{% endif %}
			{% if message.tags == "info" %}
				<a class="button">
				<span style="color:#3079ED;" class="{{ message.tags }} glyph info"></span>{{ message }}</li>
				</a>
			{% endif %}
		{% endfor %}
		</div>
	{% endif %}
<div id="main" class="container_12">
	<div class="box grid_5">
		<div class="box-header">
			<h1>{{ titulo }}</h1>
		</div>
		<div class="box-content">
		<form action="{{ action }}{{ codigo }}" method="post">{% csrf_token %}
			{{ form.as_p }}
			<div class="action_bar">
				<input type="submit" class="button blue" value="Registrar" />
				<a href="{{ action }}" class="button red">Cancel</a>
			</div>
		</form>
		</div>
	</div>
	<div class="box grid_6">
		<div class="box-header">
			<h1>{{ titulo_segundo }}</h1>
		</div>
		<table class="datatable">
			<thead>
				<tr>
					<th>Descripción</th>
					<th>Acción</th>
				</tr>
			</thead>
			<tbody>
				{% for objeto in objetos %}
				<tr>
					<td>{{ objeto }}</td>
					<td><a class="button plain plain-blue" href="{{ action }}{{ objeto.id }}/"><span class="glyph pencil"></span></a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
