{% extends 'base.html' %}
{% block script %}
{% endblock %}
{% block container %}
<div id="main" class="container_12">
	<div class="box">
		<div class="box-header">
			<h1>Usuario: {{ user.last_name }} {{ user.first_name }}</h1>
		</div>
		<div class="box-content">
			<table class="only-info">
				<tbody>
					<tr>
						<td>Has ingresado como: </td>
						<td>
							{% for g in user.groups.all %}
								{% if forloop.first %}
									<strong><span>{{ g }}</span></strong>
									{% else %}
									<strong><span>, {{ g }}</span></strong>
								{% endif %}
							{% endfor %}
						</td>
					</tr>
					<tr>
						<td>Apellidos:</td>
						<td><strong>{{ user.last_name }}</strong></td>
					</tr>
					<tr>
						<td>Nombre:</td>
						<td><strong>{{ user.first_name }}</strong></td>
					</tr>
					<tr>
						<td colspan="2">
							{% for local in Add.locales %}
							<a href="/local/{{ local.id }}/" class="button blue"><span class="glyph suitcase"></span>{{ local.nombre }}</a>
							{% endfor %}						
						</td>
					</tr>
				</tbody>
			</table>
			<div class="action_bar">

			</div>
		</div>
	</div>
</div>
{% endblock %}
