{% extends 'base.html' %}
{% comment %}
prefijo: mko
{% endcomment %}
{% block script %}
{% endblock %}
{% block container %}
<div id="main" class="container_12">
	{% if dinamic %}
	<div class="box">
		<div class="box-header">
			<h1>Agenda</h1>
		</div>
		<div  class="box-content"> 
			<form action="{{dinamic.action}}">
				{{ dinamic.formulario.as_p }}
			</form>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}
