/* Theme makako */
body, body#login {background: url(../img/bg-white.png) no-repeat top center;}
#login .title {font-size:32px; text-align:center; color:#333;}
input.button { margin-top:-1px; }
input.button, .button { border-radius: 2px 2px 2px 2px; }
.button.blue { background-color: #4D90FE; background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED); border: 1px solid #3079ED; color: #FFFFFF; }
.button.blue:hover, .button.blue:focus { background-color: #357AE8; background-image: -moz-linear-gradient(center top , #4D90FE, #357AE8); border-color: #2F5BB7; }
.button.red { text-shadow: 0 1px 0 #661012; background-color: #D14836; background-image: -moz-linear-gradient(center top , #DD4B39, #D14836); border: 1px solid #D43A27; color: #FFFFFF; }
.button.red:hover, .button.red:focus { background-color: #C53727; background-image: -moz-linear-gradient(center top , #DD4B39, #C53727); border: 1px solid #B0281A; }
#login_form {position:static; margin-top:10px;}
#login_form button, #login_form input.button {margin-top:5px;}
#login_form p {width:48%;}
#login_form p.w-100 {width:100%;}
form input[type="text"]:focus, form input[type="password"]:focus, form textarea:focus {border:1px solid #4D90FE;}
form input.readonly {border:1px solid #837DA4;}
nav#primary {width:50px;}
nav#primary ul li a {font-size:10px;}
nav#primary ul li a span {font-size:24px;}
nav#primary ul li.bottom a {width:50px;}
.quick-actions a {padding:0px 5px;}
.grid_show {background:#fff; border:1px solid #ccc; border-radius: 2px;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
.grid_mp {margin:10px; padding:10px;}
.quick-actions a { margin:3px; }
.button.green {color:#fff;background:#42A342;background:-moz-linear-gradient(top, rgba(91,183,91,0.83) 0%,rgba(91,183,91,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(91,183,91,0.83)),color-stop(100%,rgba(91,183,91,1)));background:-webkit-linear-gradient(top, rgba(91,183,91,0.83) 0%,rgba(91,183,91,1) 100%);background:-o-linear-gradient(top, rgba(91,183,91,0.83) 0%,rgba(91,183,91,1) 100%);background:-ms-linear-gradient(top, rgba(91,183,91,0.83) 0%,rgba(91,183,91,1) 100%);background:linear-gradient(top, rgba(91,183,91,0.83) 0%,rgba(91,183,91,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#d45bb75b',endColorstr='#5bb75b',GradientType=0 );border:1px solid #288528}
.button.green:hover {color:#fff; background:-moz-linear-gradient(top, rgba(91,183,91,0.96) 0%,rgba(43,181,43,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(91,183,91,0.96)),color-stop(100%,rgba(43,181,43,1)));background:-webkit-linear-gradient(top, rgba(91,183,91,0.96) 0%,rgba(43,181,43,1) 100%);background:-o-linear-gradient(top, rgba(91,183,91,0.96) 0%,rgba(43,181,43,1) 100%);background:-ms-linear-gradient(top, rgba(91,183,91,0.96) 0%,rgba(43,181,43,1) 100%);background:linear-gradient(top, rgba(91,183,91,0.96) 0%,rgba(43,181,43,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f55bb75b',endColorstr='#2bb52b',GradientType=0 );}
.green {background:#42A342;background:-moz-linear-gradient(top, rgba(91,183,91,0.83) 0%,rgba(91,183,91,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(91,183,91,0.83)),color-stop(100%,rgba(91,183,91,1)));background:-webkit-linear-gradient(top, rgba(91,183,91,0.83) 0%,rgba(91,183,91,1) 100%);background:-o-linear-gradient(top, rgba(91,183,91,0.83) 0%,rgba(91,183,91,1) 100%);background:-ms-linear-gradient(top, rgba(91,183,91,0.83) 0%,rgba(91,183,91,1) 100%);background:linear-gradient(top, rgba(91,183,91,0.83) 0%,rgba(91,183,91,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#d45bb75b',endColorstr='#5bb75b',GradientType=0 );border:1px solid #288528}
.green:hover {background:-moz-linear-gradient(top, rgba(91,183,91,0.96) 0%,rgba(43,181,43,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(91,183,91,0.96)),color-stop(100%,rgba(43,181,43,1)));background:-webkit-linear-gradient(top, rgba(91,183,91,0.96) 0%,rgba(43,181,43,1) 100%);background:-o-linear-gradient(top, rgba(91,183,91,0.96) 0%,rgba(43,181,43,1) 100%);background:-ms-linear-gradient(top, rgba(91,183,91,0.96) 0%,rgba(43,181,43,1) 100%);background:linear-gradient(top, rgba(91,183,91,0.96) 0%,rgba(43,181,43,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f55bb75b',endColorstr='#2bb52b',GradientType=0 );}
nav#secondary ul li.green a { color:#fff; border:0px;}


.box {border:1px solid #ccc;}
.box-header {height:auto; border-bottom:1px solid #ddd;}
.box-header h1 {float:none; line-height:32px;}
.dataTables_filter input {background:#fff; margin-top:-5px;}
.icon.search {background-position: 0 -46px;}
/* EndTheme */
#find-products {position:relative;}
#find-products .dataTables_filter {top:0px; position:static; right:auto;  text-align:center; background:#222; padding:10px;

}
#find-products input {width:900px; background:#fff;}
#mko_product-pay {overflow:auto; height:200px;}
.mko_cantidad-pro {width:30px;} 
input.small {width:40% !important;}
#mko_coin-form {display:none;}
/*Tables*/
.list-small {}
.list-small tbody tr td, thead tr th {border-left: 0px;}
.list-small thead {background: #2D646F; color: #eee !important;}
.list-small thead th {font-size: 11px; font-weight:normal; padding-top:5px !important; padding-bottom:5px !important;}
.list-small tbody tr{border-bottom:1px solid #ddd; border-top:0px; color: #222; font-size: 11px;}
.list-small tbody tr:hover {background: #3B5998 !important; color:#eee !important;}
.list-small td {padding-top:5px; padding-bottom:5px; border-left:1px dotted #ddd; border-right:0px;}
.list-small input {padding-top:2px !important; padding-bottom:2px !important; height:auto !important; margin: -4px 2px;}
.list-small .sorting_asc {background: url("../img/sorting_bg.png") no-repeat scroll 90% -8px transparent;}
.list-small .sorting_desc {background: url("../img/sorting_bg.png") no-repeat scroll 90% -44px transparent;}
.button.super-small {padding: 0px 5px 20px 5px; height:0px; box-shadow: none;}
.button.super-small .glyph {font-size: 12px; margin:0px; }
.button.plain-blue { background-color: #4D90FE; background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED); border: 1px solid #3079ED; color: #FFFFFF; font-weight:normal;}
.button.plain-blue:hover{ background-color: #357AE8; background-image: -moz-linear-gradient(center top , #4D90FE, #357AE8); border-color: #2F5BB7; color: #FFFFFF; }
.button.plain-red {text-shadow: 0 1px 0 #661012; background-color: #D14836; background-image: -moz-linear-gradient(center top , #DD4B39, #D14836); border: 1px solid #D43A27; color: #FFFFFF; }
.button.plain-red:hover{ background-color: #C53727; background-image: -moz-linear-gradient(center top , #DD4B39, #C53727); border: 1px solid #B0281A; color:#fff;}
.small-text {height: 24px !important; font-size: 11px; color: #222; }
.column_hidden {display:none;}
#total-venta {width:9%; display:inline-block; padding-top:7px; margin-left:10px; font-size:12px; vertical-align:top;  color:#222;}
#mko_price-total {display:block; font-size:16px; padding-top:10px;}
.quick-actions .step {font-size:20px; text-align:center; display:inline-block; color:#fff;}
.quick-actions .step .number{font-size:45px; display:block;}
.box-header .in-head { float: none; margin-right: 0; padding-left: 0;}
.to-right { float: right !important; margin-right: 4px !important; margin-top: 3px !important;}
.box-content .only-info { background:none; border-bottom:1px solid #ccc;}
.box-content .only-info tr{ background:none; border-top:0px;}
.box-content .only-info tr td { border-right:0px; border-left:0px;}
nav#secondary ul li a:hover {background:none;}
